@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Include Bootstrap CSS -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<br></br>
<br></br>

<div class="container text-center mt-5">
    <h1 class="display-4 text-primary">Welcome To</h1>
    <h2 class="mb-4 text-secondary">Automotive Workshop Management System</h2>
</div>

<!-- Include Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
